{% extends "_layouts/site" %}

{% block main %}

    {% set services = craft.entries.section('services') %}
    {% set work = craft.entries.section('work') %}

    <nav class="subnav">
        <div class="flex">
            <ul>

                {% for service in craft.buildQuery.source(services).countRelated(work).find %}
                    <li>
                        <a href="{{ service.url }}" class="subfont">
                            {{ service.title }} · {{ service.count }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </nav>

{% endblock %}
