{% extends "_layouts/site" %}

{% block main %}

    <nav class="subnav">
        <div class="flex">
            <ul>

                {% for service in craft.entries.section('services') %}
                    {% set service_count = craft.entries.section('work').relatedTo(service).total() %}
                    <li>
                        <a href="{{ service.url }}" class="subfont">
                            {{ service.title }} · {{ service_count }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </nav>

{% endblock %}
